.gitignore
.DS_Store
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll-cache-loader/

# Bundler
.bundle/
vendor/
vendor/bundle/

# Ruby
*.gem

# Logs
*.log

# editors
.vscode/
.idea/
*.swp
*~

# OS files
Thumbs.db